body {
    font-family: 'HKGrotesk Regular', "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.3px;
    color: #101010;
}

/* General theme styling */

.bg-primary {
    background-color: white !important;
}

header#masthead {
    box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border-color: #101010;
    color: #101010;
}

.navbar-dark .navbar-toggler-icon {
    filter: invert();
}

/* Home boxes */

[class*=home__box] p,
[class*=home__box] a  {
    font: 20px/24px 'HKGrotesk Regular';
    text-align: left;
}

[class*=home__box] a  {
    border: 2px solid #101010;
}



.home__box--an {
    border-top: 13px solid #7BBDE0;
}

.home__box--ag {
    border-top: 13px solid #0E6CA6;
}

.home__box--fl {
    border-top: 13px solid #517D94;
}

.home__box--pp {
    border-top: 13px solid #355261;
}