body {
    font-family: 'HKGrotesk Regular', "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.3px;
    color: #101010;
}

/* General theme styling */

.bg-primary {
    background-color: white !important;
}

header#masthead {
    box-shadow: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'HKGrotesk Bold', "Helvetica Neue", Arial, sans-serif;
}

.post .entry-content a {
	color: #0a6ebd; /* Improve visibility of links in posts */
}

p {
    max-width: 800px;
}

/* Navbar */

.navbar-dark .navbar-toggler {
    border-color: #101010;
    color: #101010;
}

.navbar-dark .navbar-toggler-icon {
    filter: invert();
}

#main-nav a {
	color: #101010!important;
	font: 20px/24px "HKGrotesk Regular";
	margin-left:5px
}

/* Always hamburger navigation */

.navbar.navbar-expand-xl {
	flex-wrap: wrap;
	justify-content: space-between;
}
.navbar-toggler {
	display: block!important;
}

#main-nav {
	flex-basis: 100% !important;
	display: none!important;
	padding-top:10px
}

#main-nav.show,
#main-nav.collapsing{
    display: block !important;

}

#main-nav .navbar-nav {
	flex-direction: column!important;
}

#main-nav .navbar-nav li {
	display: flex;
    justify-content: flex-end;
}

#main-nav a {
	text-align: right;
}

/* Fix responsive navbar */

.awesomplete > input,
.awesomplete {
	width: 100%!important;
}

.awesomplete ul {
	width: 100%!important;
}

.awesomplete li {
	font: 16px/20px "HKGrotesk Regular";
}

.search-form {
	display: flex;
	flex-grow: 1;
	margin-right: 20px;
}

.search-form label {
	flex-grow: 1;
	max-width: 300px;
}

.search-form .search-submit {
	margin-left: 5px;
}

.navbar-toggler {
	margin: 20px;
	margin-left: auto;
}

/* Home boxes */
[class*=home__box] {
    padding: 20px 15px;
}

[class*=home__box] p,
[class*=home__box] a  {
    font: 20px/24px 'HKGrotesk Regular';
    text-align: left;
}

[class*=home__box] a  {
    border: 2px solid #101010;
}

[class*=home__box] h2  {
    font: 30px/36px "HKGrotesk Bold";
    text-align: left;
}

.home__box--an {
    border-top: 13px solid #7BBDE0;
}

.home__box--ag {
    border-top: 13px solid #0E6CA6;
}

.home__box--fl {
    border-top: 13px solid #517D94;
}

.home__box--pp {
    border-top: 13px solid #355261;
}

[class*=home__box] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

[class*=home__box] .wp-block-button {
	align-self: flex-end;
	width: 100%;
}

[class*=home__box] .wp-block-button .wp-block-button__link {
	width: 100%;
	font: 16px/20px "HKGrotesk Regular";
}

/* Unsere Partner */

.blocks-gallery-grid {
	align-items: center;
}


/* Broader content area */
#content > .container,
#footer-widget > .container,
#colophon > .container {
	max-width: calc(100% - 50px);
}

#masthead > .container {
	max-width: calc(100% - 20px + 1rem);
}



/* Quickly hide additional elements */

.home .entry-header {
	display: none;
}

.entry-meta {
    display: none;
}

/* Set font */
p,
.entry-content {
	text-align: left;
	font: 20px/24px "HKGrotesk Regular";
	letter-spacing: 0.2px;
	color: #101010;
}

/* Footer */

#footer-widget {
	border-top: 2px solid #101010;
	padding-top: 50px;
}

.disclaimer p {
    font: 16px/20px "HKGrotesk Regular"; /* Smaller font */
}

/* Search field */

.search-field.form-control {
	padding: 15px 20px;
	background: #D9D9D9;
	position:relative;
	top:3px;
}

.search-submit {
	border: 2px solid #101010;
	border-radius: 0px;
	box-shadow: none;
}


h1.entry-title {
	border: none;
	font: 30px/36px "HKGrotesk Bold";
}

/* Category styles */

.category .entry-title {
	border: none;
	font: 20px/24px "HKGrotesk Regular";
}

.category .post {
	margin-bottom: 10px!important;
	margin-left: 30px
}
.category .page-title {
 	display:inline-block;
	padding-top:11px;
	border-top: 13px solid #FFFFFF;
	font: 30px/36px "HKGrotesk Bold";
		margin-bottom: 30px;
}

.category-arbeitnehmer .page-title {
	border-color: #7BBDE0;
}

.category-arbeitgeber .page-title {
	border-color: #0E6CA6;
}

.category-freelancer .page-title {
	border-color: #517D94;
}

.category-privatperson .page-title {
	border-color: #355261;
}